@charset "utf-8";
html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, fieldset, button, input, textarea, th, td {
	margin: 0;
	padding: 0
}
body {
	background-color: #fff;
	min-width: 1200px;
}
body, button, input, select, textarea, fieldset, label {
	color: #666;
	font: 12px/1.5 微软雅黑;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
ul, ol {
	list-style: none
}
fieldset, img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
img {
	-ms-interpolation-mode: bicubic;
}
i, em {
	font-style: normal
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
input, select, textarea, button {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	font-size: 100%;
}
button, input[type=button], input[type=submit] {
	cursor: pointer
}
input[type=search] {
	-webkit-appearance: textfield
}
textarea {
	overflow-y: auto;
	resize: vertical
}
.clear, .clearfix {
	zoom: 1
}
.clear:after, .clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	height: 0;
	visibility: hidden
}
.hidden, .hide {
	display: none
}
a {
	color: #333;
	text-decoration: none;
	outline: none;
}
.allbg {
	background: url(../../Images/shopping/allbg.png) 0 0 no-repeat;
	overflow: hidden;
}
.w-1200 {
	width: 1200px;
	margin: 0 auto;
}
.w {
	width: 100%;
	min-width: 1200px;
}
.w-1200:after {
	clear: both;
	content: ' ';
	display: block;
	height: 0;
	visibility: hidden
}
.w-1050 {
	margin: 0 auto;
	width: 1050px;
}
.w-1200 .btn.active.focus, .w-1200 .btn.active:focus, .w-1200 .btn.focus, .w-1200 .btn:active.focus, .w-1200 .btn:active:focus, .w-1200 .btn:focus {
	outline: none;
}
.b-fff {
	background: #fff !important;
}
.m-b30 {
	margin-bottom: 30px;
}
/*toolbar*/


.toolbar {
	background: url(../../Images/shopping/top_b.png) 0 0 repeat-x;
	border-bottom: 1px solid #ccc;
	clear: both;
	height: 30px;
	font-size: 12px;
	color: #666;
	font-family: 宋体;
}
.toolbar ul {
	float: right;
	margin: 0;
}
.toolbar ul li:after {
	clear: both;
	content: ' ';
	display: block;
	height: 0;
	visibility: hidden
}
.toolbar ul li {
	float: left;
	height: 30px;
	line-height: 30px;
	position: relative;
	z-index: 11;
}
.toolbar ul li a {
	color: #666;
}
.toolbar ul li.fore2 a {
	position: relative;
	z-index: 1;
}
.toolbar ul li.fore2 i {
	z-index: 1;
}
.toolbar ul li.fore1 a {
	margin: 0 10px;
}
.toolbar ul li.li-bd {
	border-right: 1px solid #ccc;
	height: 13px;
	margin: 8px 10px 0;
	overflow: hidden;
	width: 0;
}
.link-user {
	float: left;
	line-height: 30px;
}
.dropmenu-hd {
	border-bottom: 0 none;
	margin-right: 8px;
	padding-right: 5px;
	position: relative;
 *z-index:1;
}
.toolbar ul li.fore2 a span {
	color: #f00;
	margin-left: 5px;
}
.arrow-b {
	border-color: #666 transparent transparent;
	border-style: solid dashed dashed;
	border-width: 4px;
	display: block;
	font-size: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	right: -10px;
	top: 13px;
 *top:3px;
	width: 0;
	transition: transform 0.1s ease-in 0s;
}
.arrow-t {
	border-color: transparent transparent #666 transparent;
	border-style: dashed dashed solid dashed;
	border-width: 4px;
	display: block;
	font-size: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	right: -10px;
	top: 9px;
 *top:0;
	width: 0;
}
.ewm-2016 {
	width: 20px;
	height: 19px;
	margin-top: 5px;
}
.ewm-2016 a {
	width: 20px;
	height: 19px;
	background-position: -147px 0;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.dorpdown-layer {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	left: -11px;
	position: absolute;
	top: 29px;
	width: 100px;
}
.dd-spacer {
	background: #fff none repeat scroll 0 0;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 30px;
	left: -1px;
	overflow: hidden;
	position: absolute;
	top: -30px;
	width: 83px;
 *width:81px;
}
.otherlist a {
	display: block;
	border-bottom: 1px dashed #e1e1e1;
	padding-left: 10px;
}
.otherlist a.last {
	border-bottom: none;
}
.fore2 {
	width: 61px;
}
.fore3 .dorpdown-layer {
	width: 155px;
}
.fore4 {
	width: 46px;
}
.dd-spacer2 {
	background: #fff none repeat scroll 0 0;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 30px;
	right: -1px;
	overflow: hidden;
	position: absolute;
	top: -30px;
	width: 51px;
}
.layer-ewm {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	right: 10px;
	position: absolute;
	top: 29px;
	width: 210px;
	padding: 5px;
}
/*header*/
.header {
	height: 110px;
	padding-top: 20px;
	background: #fff;
}
.header .logo {
	width: 300px;
	height: 70px;
	float: left;
}
.row-search {
	left: 400px;
	position: absolute;
	width: 505px;
	top: 58px;
}
.row-search ul {
	margin-bottom: 0;
	padding-left: 15px;
}
.row-search ul li {
	float: left;
	font-family: 微软雅黑;
	height: 27px;
	line-height: 27px;
	text-align: center;
	width: 58px;
}
.row-search ul li a {
	background: none repeat scroll 0 0;
	color: #f60;
	display: block;
}
.row-search ul li.cur a {
	background: #f60 none repeat scroll 0 0;
	display: block;
	color: #fff;
}
.row-search .input-group .form-control {
	border: 2px solid #f60;
	border-radius: 0;
	height: 31px;
	line-height: 31px;
	padding: 0 5px 0;
	width: 377px;
	background: url(../../Images/shopping/search-img.png) 6px 8px no-repeat;
}
.input-group-btn .btn {
	background: #f60 none repeat scroll 0 0;
	border: 2px solid #f60;
	border-radius: 0;
	color: #fff;
	height: 31px;
 *height:35px;
	padding: 0;
	width: 82px;
 *width:71px;
	border-left: none;
	outline: none;
}
.row-search .btn-default:hover, .row-search .btn-default.focus, .row-search .btn-default:focus {
	background: #f60;
	border: 2px solid #f60;
	border-left: none;
	color: #fff;
	outline: none;
}
.keyword {
	display: block;
	width: 450px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	padding-top: 6px;
}
.keyword a {
	color: #999;
	margin: 0 10px 0 0;
}
.h-cart {
	width: 210px;
	height: 38px;
	float: right;
	margin: 17px 20px 0 0;
	position: relative;
	border: 1px solid #d4d4d4;
}
.h-cart a {
	color: #eb6100;
	font-family: 微软雅黑;
	font-size: 14px;
	position: absolute;
	left: 83px;
	line-height: 38px;
}
.ci-count {
	background-color: #f10215;
	border-radius: 7px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	min-width: 13px;
	padding: 1px;
	position: absolute;
	right: 40px;
	text-align: center;
	top: 5px;
}
.iconfont {
	position: absolute;
	left: 39px;
	top: 7px;
	width: 30px;
	height: 24px;
	background-position: -235px -40px;
}
/*nav*/
.nav-2016 {
	border-bottom: 2px solid #f60;
	background: #fff;
	font-family: 微软雅黑;
}
.nav-2016 .w-1200 {
	height: 38px;
	position: relative;
	z-index: 7;
}
.dorpdown {
	float: left;
	position: relative;
	z-index: 10;
	width: 200px;
	height: 38px;
	overflow: visible;
	background: #f60;
}
.dorpdown .dt a {
	display: block;
	width: 200px;
	height: 38px;
	background: #f60;
	font: 400 18px/38px "microsoft yahei";
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.dorpdown .dd {
	background: #fff none repeat scroll 0 0;
	height: 407px;
	border: 1px solid #999;
}
.navitems-2016 {
	float: left;
	width: 740px;
}
.navitems-2016 li {
	width: 100px;
	height: 38px;
	line-height: 38px;
	float: left;
	font-size: 17px;
}
.navitems-2016 li a {
	display: block;
	text-align: center;
	color: #000;
}
.navitems-2016 li.cur a, .navitems-2016 li a:hover {
	color: #f60;
}
.dd-inner {
	padding: 0 5px;
}
.navitems-2016 li a:hover, .navitems-2016 li a:focus {
	text-decoration: none;
	opacity: .9;
}
.dd-inner .item {
	border-bottom: 1px dashed #dfdfdf;
	color: #fff;
	height: 67px;
	position: relative;
	z-index: 1;
	padding: 0 10px;
}
.dd-inner h5 {
	font-size: 14px;
	font-weight: 400;
	height: 24px;
	line-height: 24px;
	position: absolute;
	z-index: 2;
}
.dd-inner h5 a {
	color: #666;
}
.dd-inner h5 a:hover {
	color: #666;
}
.dd-inner i {
	color: #999;
	font: 400 18px/12px consolas;
	height: 14px;
	position: absolute;
	right: 14px;
	top: 14px;
	width: 10px;
	z-index: 1;
}
/* for JS*/
.hover .dorpdown-layer {
	display: block;
}
.dd-inner .hover {
	position: absolute;
	width: 200px;
	height: 68px;
	top: -1px;
	left: -5px;
	background: #f7f7f7;
	z-index: -1;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}
.hrb-links {
	overflow: hidden;
	position: absolute;
	top: 33px;
	height: 18px;
	line-height: 18px;
	white-space: normal;
	width: 180px;
}
.hrb-links a {
	display: inline-block;
	font-size: 12px;
	color: #666;
	margin: 0 10px 0 0;
}
.hrb-links a:hover, .hrb-links a:focus {
	color: #666;
}
.dd-inner .last {
	border-bottom: none;
}
.dd .hrb-layer {
	background: #f7f7f7 none repeat scroll 0 0;
	left: 201px;
	overflow: hidden;
	position: absolute;
	top: 38px;
	width: 778px;
	height: 406px;
	display: none;
	z-index: 9;
	margin-left: -1px;
	border: 1px solid #999;
	border-left: none;
}
.small-banner {
	width: 240px;
	float: right;
	padding-top: 5px;
}
.notice {
	background: #fff;
	color: #333;
	height: 24px;
	padding: 2px 0 2px 10px;
	width: 230px;
	font-size: 12px;
}
.notice i {
	background-position: -20px 0;
	float: left;
	height: 12px;
	margin-right: 5px;
	width: 14px;
	margin-top: 6px;
}
.t-news {
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	width: 192px;
}
.t-news a {
	display: block;
	line-height: 24px;
	color: #333;
}
.slider {
	width: 995px;
	margin: 5px 0 0 205px;
}
.m-b10 {
	margin-bottom: 10px;
}
/*footer*/

.footer {
	margin-top: 20px;
	font-family: 微软雅黑;
}
.footer-2016 {
	border-top: 2px solid #f60;
	text-align: center;
	padding-top: 40px;
}
.footer-2016 a {
	margin: 0 5px;
}
.footer a, .links {
	color: #868686;
}
.footer p {
	color: #868686;
	line-height: 2;
	text-align: center;
}
.footer1 {
	border-top: 1px solid #ececec;
	padding-top: 40px;
	margin-bottom: 20px;
}
.footer1 div {
	float: left;
	width: 265px;
}
.footer1 div.h_5 {
	width: 138px;
}
.footer1 dl {
	float: left;
	margin-left: 20px;
}
.footer1 dl dt {
	color: #787878;
	font-size: 15px;
	margin-bottom: 5px;
	font-family: 微软雅黑;
	font-weight: normal;
}
.footer1 dl dd {
	margin-bottom: 5px;
}
.footer1 i {
	width: 41px;
	height: 41px;
	float: left;
}
.h_1 i {
	background-position: 0 bottom;
}
.h_2 i {
	background-position: -84px bottom;
}
.h_3 i {
	background-position: -42px bottom;
}
.h_4 i {
	background-position: -126px bottom;
}
.h_5 i {
	background-position: -168px bottom;
}
.w-1200 h1, .w-1200 h2, .w-1200 h3, .w-1200 h4, .w-1200 h5, .w-1200 h6 {
	font-family: 微软雅黑;
}
.subitems {
	background: #f7f7f7 none repeat scroll 0 0;
	margin-bottom: -1000px;
	min-height: 409px;
	padding: 6px 0 1006px 20px;
	width: 758px;
}
.subitems dl {
	line-height: 2em;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid #eee;
}
.subitems dt {
	float: left;
	font-weight: 700;
	padding: 8px 20px 0 0;
	position: relative;
	text-align: right;
	width: 110px;
}
.subitems dd {
	float: left;
	padding: 6px 0;
	width: 620px;
}
.subitems dt a {
	color: #666;
}
.subitems dd a {
	border-left: 1px solid #e0e0e0;
	float: left;
	height: 16px;
	line-height: 16px;
	margin: 4px 0;
	padding: 0 10px;
	white-space: nowrap;
	color: #666;
}
/*ding bu san jiao*/
.fore2 i {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transition: transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	-o-transition: -o-transform .2s linear
}
.fore2:hover i {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transition: transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
 -o-transition: -o-transform .2s linear position: absolute;
	top: 13px;
 *top: 3px;
}
.h-arrow {
	background: url(../../Images/shopping/adp-active.png) 0 0 no-repeat;
	width: 7px;
	height: 4px;
	display: block;
	overflow: hidden;
	position: absolute;
	right: -10px;
	top: 13px;
 *top: 3px;
}
.quantity {
	height: 25px;
	line-height: 23px;
	margin: 5px auto;
	overflow: hidden;
	width: 120px;
}
.quantity span {
	float: left;
	height: 25px;
	width: 25px;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	font-size: 12px;
	color: #333;
}
.quantity span.jia {
	background: url(../../Images/shopping/jia_on.jpg) 0 0 no-repeat;
	border: 1px solid #ccc;
}
.quantity span.jia.cur {
	background: url(../../Images/shopping/jia.jpg) 0 0 no-repeat;
	border: 1px solid #ccc;
	cursor: default;
}
.quantity span.jian {
	background: url(../../Images/shopping/jian_on.jpg) 0 0 no-repeat;
	border: 1px solid #ccc;
}
.quantity span.jian.cur {
	background: url(../../Images/shopping/jian.jpg) 0 0 no-repeat;
	border: 1px solid #ccc;
	cursor: default;
}
.quantity input {
	border: 1px solid #ccc;
	float: left;
	height: 23px;
	margin: 0 5px;
	padding: 0;
	text-align: center;
	width: 50px;
}
/*商品详情页配送地址选择*/
.EDropdown, .EDropdown .head {
	position: relative;
}
#stock-address.hover {
	z-index: 3
}
.stock-address {
	float: left;
	margin-left: -5px;
	margin-top: -3px;
}
.EDropdown .head {
	cursor: pointer;
	float: left;
	height: 23px;
	line-height: 23px;
	padding: 1px 1px 1px 5px;
	z-index: 12;
}
.stock-address .address-select, .stock-address .address-used {
	cursor: pointer
}
.stock-address .head {
	white-space: nowrap
}
.stock-address .head .text {
	float: left
}
.stock-address dl {
	margin: 0 10px;
	padding-bottom: 15px
}
.stock-address dd {
	padding-top: 10px
}
.stock-address dd a {
	margin-right: 10px
}
.stock-address .line {
	margin: 0 10px 10px;
	height: 0;
	overflow: hidden;
	border-bottom: 1px dotted #eee
}
.EDropdown .content {
	background-color: #fff;
	left: 0;
	position: absolute;
	top: 22px;
	z-index: 11;
}
.hover .content {
	display: block;
}
.stock-address .content {
	background-color: #fff;
	width: 380px;
	padding-top: 20px
}
.EDropdown .border .content {
	border: 1px solid #ccc;
}
.root61 .EDropdown .content {
	left: 0;
	right: auto;
}
.stock-address .address-used .arrow {
	float: right;
	margin-top: 5px;
	background: url(../../Images/shopping/arr-open.png) no-repeat;
	background: url(../../Images/shopping/arr-close.png) no-repeat\9
}
.stock-address .address-used.more .arrow {
	background: url(../../Images/shopping/arr-close.png) no-repeat;
	background: url(../../Images/shopping/arr-open.png) no-repeat\9
}
.stock-address .address-used li a {
	width: auto
}
.stock-address .address-select .arrow {
	float: right;
	margin-top: 5px;
	background: url(../../Images/shopping/arr-open.png) no-repeat;
	background: url(../../Images/shopping/arr-close.png) no-repeat\9
}
.stock-address .address-select.clicked .arrow {
	background: url(../../Images/shopping/arr-close.png) no-repeat;
	background: url(../../Images/shopping/arr-open.png) no-repeat\9
}
.stock-address .hw-tab-con {
	position: relative
}
.stock-address .hw-tab-con .hw-letters li {
	padding: 0 2px 0 0;
	margin-right: 0;
	display: inline
}
.stock-address .hw-tab-con .hw-letters li a.clicked, .stock-address .hw-tab-con .hw-letters li a:hover {
	background: 0 0;
	color: #e4393c
}
.stock-address .hw-tab-con div.area-letter {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #999
}
.stock-address .hw-tab-con div.area-letter-curr {
	color: #e4393c
}
.stock-address .hw-tab-con ul {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee
}
.stock-address .hw-area-wrap {
	height: 300px;
	overflow-y: scroll
}
.stock-address-list li {
	display: inline-block;
*display:inline;
*zoom:1
}
.stock-address-list a {
	display: inline-block;
*display:inline;
*zoom:1;
	padding: 0 2px
}
.address-used .stock-address-list a, .address-used .stock-address-list li, .clicked .stock-address-list {
	display: block
}
.stock-address-list a.clicked, .stock-address-list a:hover {
	background: #e4393c;
	color: #fff
}
.address-used.auto .stock-address-list ul {
	height: auto
}
.address-used.clicked .stock-address-list ul {
	height: 9em;
	overflow: auto
}
.address-used.clicked .stock-address-list ul .address {
	width: 238px
}
.address-used .stock-address-list ul {
	height: 1.5em;
	overflow: hidden
}
.address-used .stock-address-list a:hover, .address-used .stock-address-list li.selected a {
	background-color: transparent;
	color: #e4393c
}
.address-used .stock-address-list .name {
	display: inline-block;
	width: 4em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 15px
}
.address-used .stock-address-list .address {
	display: inline-block;
	width: 248px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.address-tab .tab li {
	display: inline-block;
*display:inline;
*zoom:1;
	margin-right: 5px;
	border: 1px solid #ddd;
	padding: 2px 10px;
	background: #fff;
	color: #005aa0;
	font: 700 14px 'microsoft yahei';
	border-bottom: none
}
.address-tab .tab .current {
	border: 2px solid #e4393c;
	border-bottom: 2px solid #fff
}
.address-tab .tab-con {
	border-top: 2px solid #e4393c;
	margin-top: -2px;
	padding-top: 10px
}
.address-tab .tab-con li {
	width: 6.4em;
	margin-right: 5px;
	margin-bottom: 5px
}
.address-tab .tab-con li a {
	margin-right: 0
}
.address-tab .tab-con li.long-area {
	width: 13em
}
.address-tab .tab-con li.longer-area {
	width: 26em
}
.summary-service {
	color: #999
}
.summary-service i {
	display: inline-block;
*display:inline;
*zoom:1;
	vertical-align: top;
	margin-left: 2px
}
.summary-service a {
	color: #999;
	margin: 0 5px
}
.clothing .summary-service a {
	color: #e4393c
}
#summary-supply {
	clear: both;
	margin-top: -10px
}
#summary-supply.stand-alone {
	margin-top: 0
}
.summary-line {
	height: 0;
	overflow: hidden;
	border-bottom: 1px dotted #dfdfdf;
	margin-bottom: 15px
}
.summary-stock .store {
	margin-bottom: 5px
}
.summary-stock .store .store-selector {
	margin-right: 10px;
	float: left
}
.summary-stock .store .store-selector div {
	float: left;
	z-index: 1
}
.summary-stock .store .store-selector .head {
	z-index: 2
}
.summary-stock .store .store-selector .sprite-arr-close {
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle
}
.summary-stock .store .store-prompt {
	margin-right: 10px;
	color: #999;
	height: 24px;
	float: left
}
.summary-stock .store .store-prompt strong {
	margin-right: 5px;
	float: left;
	font-size: 12px
}
.summary-stock .store .store-prompt .store-prompt-num {
	float: left;
	margin-right: 10px
}
.summary-stock .store .store-prompt .support {
	float: left
}
.summary-stock .store .store-prompt .support .support-name {
	color: #666
}
.summary-stock .store .store-prompt .support img {
	margin: 0 3px
}
.summary-stock .store .store-prompt .tip {
	float: left
}
.summary-stock .dcashDesc i {
	display: inline-block;
*display:inline;
*zoom:1;
	width: 16px;
	height: 16px;
	overflow: hidden;
	line-height: 1000px;
	vertical-align: middle;
	background-image: url(../../Images/shopping/question.png)
}
.EDropdown .arrow {
	display: inline-block;
*display:inline;
*zoom:1;
	vertical-align: middle;
	width: 13px;
	height: 7px;
	margin: 0 10px 0 5px;
	_font-size: 0;
	background: url(../../Images/shopping/arr-close.png) no-repeat;
	transition: .2s ease;
	-ms-transition: .2s ease;
	-moz-transition: .2s ease;
	-webkit-transition: .2s ease;
	-o-transition: .2s ease
}
.EDropdown .arr-open {
	background: url(../../Images/shopping/arr-open.png) no-repeat\9;
}
.EDropdown .close {
	position: absolute;
	right: 15px;
	top: 10px;
	width: 12px;
	height: 12px;
	overflow: hidden;
	line-height: 1000px;
	background: url(../../Images/shopping/close.png)
}
.EDropdown .border .head {
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 0
}
.hover .content {
	display: block
}
.hover .head {
	background-color: #fff
}
.hover div.border .head {
	border-bottom: none;
	padding-bottom: 1px;
	padding-left: 5px;
}
.hover .arrow {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg)
}
.root61 .EDropdown .content {
	right: auto;
	left: 0
}
.ETooltips {
	position: absolute;
	display: none
}
.sp-search p label, .sp-search p span, .tag-list li {
	display: inline-block
}
.ETooltips .content {
	padding: 10px;
	background: #fff;
	border: 1px solid #cecbce;
	color: #666;
	-moz-box-shadow: 0 0 2px 2px #eee;
	-webkit-box-shadow: 0 0 2px 2px #eee;
	box-shadow: 0 0 2px 2px #eee
}
.ETooltips .arrow {
	position: absolute;
	background: url(../../Images/shopping/arr-close.png) no-repeat;
}
.ETooltips .close {
	position: absolute;
	color: #666;
	font: 12px simsun;
	cursor: pointer
}
.ETooltips-top {
	padding-bottom: 5px
}
.ETooltips-top .arrow {
	left: 10px;
	bottom: 0;
	width: 11px;
	height: 6px;
	background-position: 0 -5px;
	_bottom: -1px;
	z-index: 2
}
.ETooltips-top .close {
	right: 1px;
	top: 0
}
.ETooltips-right {
	padding-left: 5px
}
.ETooltips-right .arrow {
	top: 10px;
	left: 0;
	width: 6px;
	height: 11px;
	background-position: 0 0
}
.ETooltips-right .close {
	right: 1px;
	top: 1px
}
.ETooltips-bottom {
	padding-top: 5px
}
.ETooltips-bottom .arrow {
	top: 0;
	left: 10px;
	width: 11px;
	height: 6px;
	background-position: 0 0
}
.ETooltips-bottom .close {
	right: 1px;
	top: 5px
}
.ETooltips-left {
	padding-right: 5px
}
.ETooltips-left .arrow {
	right: 0;
	top: 10px;
	width: 6px;
	height: 11px;
	background-position: -5px 0
}
.ETooltips-left .close {
	right: 6px;
	top: 1px
}
.ETooltips-opposite .arrow {
	left: 80%
}
.ETab ul {
	margin-bottom: 0;
}
